# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Debug files
debug_*.html

# Installer files
*.exe
python*_installer.exe

# IDE
.vscode/
.idea/

# Local development
*.log
*.sqlite3
.DS_Store

# Virtual Environment
venv/
venv311/

# Predictions output
predictions.json
